<style>

* {
    padding: 0;
    margin: 0;
}
body {
    cursor: url('images/cursor.cur'), default;
    font-family:monospace;

    
}
    
    
.outer {
    
}

.content {
    padding: 15%;
    padding-top: 2.5%;
    width: 70%;

}


</style>

